@import '../../../../@core/color-variable.scss';

.highlight-text {
    font-size: 1rem;
    color: $primary-color;
}

.highlight-heading {
    color: #fff;
    margin-bottom: 1rem;
}

.description-text {
    color: #c5c6c7;
    line-height: 1.6;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.card {
    background-color: #1d3235;

    .card-title {
        color: #dad7d8;
    }

    .card-text {
        color: #c5c6c7
    }

    strong{
        color: #66fcf1;
    }
}