<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="highlight-heading">Projects.</h1>
            <p class="description-text">These projects demonstrate my expertise with practical examples of some of my
                work, including brief descriptions and links to code repositories and live demos. They showcase my
                ability to tackle intricate challenges, adapt to various technologies, and efficiently oversee projects.
            </p>
        </div>
    </div>
    <div class="card-container mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Examify - Online Exam Portal</h5>
                <p class="card-text">
                    Developed a responsive online exam portal with user registration, authentication, and profile
                    management. Integrated dark and light themes for a customizable user experience.
                </p>
                <p class="card-text"><strong>Technologies:</strong> Angular, Spring Boot, MySQL, JWT, Git</p>
                <div class="d-flex align-items-center justify-content-between">
                    <a href="https://github.com/SanjayRawat123/examify-app" target="_blank" class="btn btn-link">View
                        Code</a>
                        <a href="http://sanjayproj.com:4200" target="_blank" class="btn btn-outline-warning">view Live</a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Natours Application (Backend)</h5>
                <p class="card-text">
                    Created a backend application with Node.js and Express.js, providing efficient RESTful web services
                    and ensuring smooth interactions through dynamic front-end integration.
                </p>
                <p class="card-text "><strong>Technologies:</strong> Node.js, Express, MongoDB, JWT</p>
                <a href="https://github.com/SanjayRawat123/natours-node-express" target="_blank"
                    class="btn btn-link">View Code</a>
            </div>
        </div>
        <!-- <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
    </div>
</div>