<nav class="navbar fixed-top navbar-expand-sm "  [class.scroll-active]="isScrolled"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sanjay</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-white" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="scrollToSection('about')"
                            data-bs-dismiss="offcanvas">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToSection('project')"
                            data-bs-dismiss="offcanvas">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToSection('contact')" data-bs-dismiss="offcanvas">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Boxed Layout Wrapper -->
<div class="boxed-container">
    <section >
        <app-hero-section></app-hero-section>
    </section>
    <section #about id="about" >
        <app-about></app-about>
    </section>
    <section id="education" style="margin-top: 100px;">
        <h2>Education</h2>
        <div class="education-container">
            <!-- Degree #1 -->
            <div class="education-item">
                <h5>Bachelor of Technology in Electrical Engineering</h5>
                <p><strong>Institution:</strong> Graphic Era Deemed to be University, Dehradun</p>
                <p><strong>CGPA:</strong> 8.07</p>
                <p><strong>Years Attended:</strong> Aug 2019 - Jul 2022</p>
            </div>
            <!-- Degree #2 -->
            <div class="education-item">
                <h5>Diploma in Electrical Engineering</h5>
                <p><strong>Institution:</strong> Government Polytechnic Uttarkashi</p>
                <p><strong>Percentage:</strong> 71%</p>
                <p><strong>Years Attended:</strong> 2016 - 2019</p>
            </div>
        </div>
    </section>
    
    <section #project id="project" >
        <app-project></app-project>
    </section>
     
</div>