<Section id="contacts">
    <div class="container text-center">
        <h2>Contact Me</h2>
        <p>If you’re interested in collaborating or have any questions, feel free to reach out!</p>
        <div class="contact-details">
            <p><i class="bi bi-envelope"></i>&nbsp; <a href="mailto:rawatsanjay2799@gmail.com"> {{email}}</a>
            </p>
            <p><i class="bi bi-phone"></i> +91 9756 037 495</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/sanjay-singh-rawat-026b1124a/" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <a href="https://github.com/SanjayRawat123" target="_blank"><i class="bi bi-github"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </div>
</Section>