<div class="container-fluid hero-section-container">
    <div class="row ">
        <div class="col-12">
            <img src="assets/portfilo.images/hero-section-imag-Photoroom.png" alt="Profile Picture"
                class="img-fluid profile-image rounded-circle">
            <p class="intro-text">Hello! I'm Sanjay</p>
            <h4 class="display-4"><span class="highlight-heading" #typedElement></span> Developer</h4>
            <p class="description-text">
                Are you looking for a Full Stack Developer who works hard but stays humble?
            </p>
            <div class="btn-container">
                <button class="btn btn-warning me-2">Resume</button>
                <button class="btn btn-outline-light">Hire me</button>
            </div>
        </div>
    </div>
</div>